<a href="https://colab.research.google.com/github/Balgeum-Cha/Study_python/blob/master/Copy_of_teaching_python_ipynb.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

이화여대 교육용 프로그래밍의 이해 2 파이썬 노트 (이 선복)

# 파이썬 용어집 (Glossary)
* 파이썬언어에서 사용되는 용어들의 정확한 정의제공
* https://docs.python.org/3/glossary.html

# 객체(object)와 클래스(class)
* 객체를 이해하는 두가지 관점
    * 실제 사물(object)의 **기능**과 **속성**을 프로그램 객체(object)의  **함수**와 **변수**로 표현
    * **변수**에 저장된 값과 그 값을 조작할 수 있는 **함수**를 가지고 있는 **사용자정의 자료형 (user-defined data type)**
* 객체(object) = 변수(variable) + 함수(function)
* 클래스는 객체를 만드는 설계도
* (python tutorial) "Classes provide a means of bundling **data** and **functionality** together. Creating a new class creates a new type of object, allowing new instances of that type to be made. Each class instance can have **attributes** attached to it for maintaining its state. Class instances can also have **methods** (defined by its class) for modifying its state." 
* (씽크 파이썬) "프로그래머 정의 타입을 **클래스(class)**라고 부르고 클래스의 새 **객체(Object)**를 생성하는것을 **인스턴스화(instantiation)**라고 하며 그렇게 생성된 객체는 클래스의 **인스턴스(instance)**라고 한다." 
* 우리가 파이썬에서 다루는 모든 것들(자료형, 모듈, 함수, ...)은 객체 (Everything in Python in an object). 
* 파이썬은 **객체지향 프로그래밍(Object Oritented Programming, OOP)** 언어

In [1]:
# 클래스정의(class definition)는 속성(attribute)과 메서드(method)를 정의
# 아래 MyClass는 my_attribute라는 속성과 my_method()라는 메서드를 정의
# 스페셜 메서드(__name__)는 파이썬에 의해 호출
# self는 해당 클래스의 인스턴스를 나타냄 
class MyClass:   # 클래스 이름은 CapWords 방식이 관행
    def __init__(self, x):   # 클래스 생성자(class constructor)
      self.my_attribute = x  # 함수와 변수이름은 소문자가 관행
    
    def my_method(self): 
      self.my_attribute = self.my_attribute + 1
      return self.my_attribute

In [2]:
# 인스턴스(instance) 생성
# 클래스 생성자를 위한 인수(argument)를 전달해야함 
my_instance = MyClass(1)

In [3]:
# type()은 객체의 타입을 반환
type(my_instance)

__main__.MyClass

In [4]:
# help() print help
help(my_instance)

Help on MyClass in module __main__ object:

class MyClass(builtins.object)
 |  MyClass(x)
 |
 |  Methods defined here:
 |
 |  __init__(self, x)
 |      Initialize self.  See help(type(self)) for accurate signature.
 |
 |  my_method(self)
 |
 |  ----------------------------------------------------------------------
 |  Data descriptors defined here:
 |
 |  __dict__
 |      dictionary for instance variables (if defined)
 |
 |  __weakref__
 |      list of weak references to the object (if defined)

In [5]:
# 해당 객체의 변수와 메서드 반환
dir(my_instance)

['__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__weakref__',
 'my_attribute',
 'my_method']

In [6]:
# 객체의 속성(attribute)에 접근(access)하기위해 점표기법(dot notation)사용
my_instance.my_attribute

1

In [7]:
# 객체의 메서드(method)를 호출(call)하기위해 점표기법(dot notation)사용
my_instance.my_method()

2

In [8]:
# 문자열도 객체
'apple'.isnumeric()

False

In [9]:
dir('apple')

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [10]:
# 연습문제
# 사람의 이름과 전화번호정보를 담을 수 있는 클래스를 정의하라. 
# 이때 이 클래스는 다음과 같이 동작해야 한다. 
# f = Friend('홍길동', '010-123-4567')  # 객체생성
# f.get_name()  # 이름반환
# f.get_phone()  # 전화번호반환
class Friend:

  def __init__(self, name, phone):
    self.name = name
    self.phone = phone

  def get_name(self):
    return self.name

  def get_phone(self):
    return self.phone

In [11]:
f = Friend('홍길동', '123-3234-2322')

In [12]:
type(f)

__main__.Friend

In [ ]:
dir(f)

['__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__weakref__',
 'get_name',
 'get_phone',
 'name',
 'phone']

In [ ]:
f.get_name()

'홍길동'

In [ ]:
f.get_phone()

'123-3234-2322'

# 자료형 (Data type)
* the most **primitive data structure**
* **building blocks** for data manipulation
* Python has four basic data type
    * 정수(Integer)
    * 실수(float)
    * 문자열(string)
    * 불자료형(boolean)

In [13]:
# 정수(integer)
# type()은 객체의 타입(the object's type)을 반환
type(1)

int

In [14]:
# 실수(float)
# 실수는 컴퓨터 내부에 부동소수점(floating point number)방식으로 저장
type(1.2)

float

In [15]:
# 문자열(string)
# 문자들의 집합 (a collection of characters)
# ' ' 나 " " 을 이용하여 만듬
type('apple')

str

In [16]:
# 불 자료형 (boolean): True, False
# 파이썬이 자동으로 True를 1로 False를 0으로 변환시킬수도 있음
type(True)

bool

In [17]:
# 해당 객체의 변수와 메서드 반환
dir(1)

['__abs__',
 '__add__',
 '__and__',
 '__bool__',
 '__ceil__',
 '__class__',
 '__delattr__',
 '__dir__',
 '__divmod__',
 '__doc__',
 '__eq__',
 '__float__',
 '__floor__',
 '__floordiv__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__index__',
 '__init__',
 '__init_subclass__',
 '__int__',
 '__invert__',
 '__le__',
 '__lshift__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__neg__',
 '__new__',
 '__or__',
 '__pos__',
 '__pow__',
 '__radd__',
 '__rand__',
 '__rdivmod__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rfloordiv__',
 '__rlshift__',
 '__rmod__',
 '__rmul__',
 '__ror__',
 '__round__',
 '__rpow__',
 '__rrshift__',
 '__rshift__',
 '__rsub__',
 '__rtruediv__',
 '__rxor__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__truediv__',
 '__trunc__',
 '__xor__',
 'bit_length',
 'conjugate',
 'denominator',
 'from_bytes',
 'imag',
 'numerator',
 'real',
 'to_bytes']

In [18]:
# 산술연산자(arithmetic operator): 덧셈(addition)
1 + 1

2

In [19]:
# 산술연산자(arithmetic operator): 뺄셈(subtraction)
2 - 1

1

In [20]:
# 산술연산자(arithmetic operator): 곱셈(multiplication)
2 * 3

6

In [21]:
# 산술연산자(arithmetic operator): 실수형 나눗셈 (divison)
5 / 2

2.5

In [22]:
# 산술연산자(arithmetic operator): 정수형 나눗셈 (floor division, 몫을 계산)
5 // 2

2

In [23]:
# 산술연산자(arithmetic operator): 나눗셈의 나머지 (modulus)
5 % 2

1

In [24]:
# 산술연산자(arithmetic operator): 지수 (exponent)
2 ** 3

8

In [25]:
# 비교연산자(comparison operator)
2 == 3

False

In [26]:
# 비교연산자(comparison operator)
2 != 3

True

In [27]:
# 비교연산자(comparison operator)
2 > 3

False

In [28]:
# 비교연산자(comparison operator)
2 >= 3

False

In [29]:
# 비교연산자(comparison operator)
2 < 3

True

In [30]:
# 비교연산자(comparison operator)
2 <= 3

True

In [31]:
# 논리연산자(logical operator)
# 모두 True일때만 True
(2 < 3) and (10 > 5)

True

In [32]:
# 논리연산자(logical operator)
# 하나만 True이면 True
(2 < 3) or (10 < 5)

True

In [33]:
# 논리연산자(logical operator)
not (2 < 3)

False

In [34]:
# int() : 정수타입으로 변환
int("123")

123

In [35]:
# str() : 문자열타입으로 변환
str(123)

'123'

In [36]:
# float() : 실수타입으로 변환
float('12.3')

12.3

In [37]:
# 연습문제
# 다음 표현식(expression)의 값은 무엇인가? 
not ((10 == 9) and (2 > 3))

True

# 자료구조 (Data structure)
* a collection of different types of data
* built-in data structure in Python
    * 리스트(list)
    * 튜플(tuple)
    * 딕셔너리(dictionary)
    * 세트(set)
* Sequence vs Non-sequence
    * Sequence
        * 순서가 부여되어 있고, 인덱스를 사용할수 있는 테이터 형
        * 문자열, 리스트, 튜플
    * Non-sequence
        * 순서가 없고, 인덱스를 사용할수 없는 데이터 형
        * 딕셔너리, 세트
* Mutable vs immutable 
    * Mutable
        * 값이 수정이 가능
        * 리스트, 딕셔너리, 세트
    * Immutable
        * 값의 수정이 불가능
        * 문자열, 튜플

# 문자열 (String)
* 문자들의 집합
* ' ' 나 " " 로 생성
* 문자열은 **불변(immutable)**
* 인덱스(index)는 0부터 시작하는 위치를 가리키는 값
* 인덱싱(indexing)은 인덱싱 연산자 ([ ])를 사용하여 **하나의 요소(an element)**를 참조하는 연산
* 슬라이싱(slicing)은 인덱싱 연산자 ([ ])를 사용하여 **여러개의 요소들(mulple elements)**를 참조하는 연산

In [ ]:
# 문자열은 ' ' 나 " "로 생성
s = 'Ewha Womans University'

In [ ]:
# 파이썬의 인덱스는 0부터 시작
# 처음부터 0, 1, 2, 3, ... 
s[0]

'E'

In [ ]:
# -1는 마지막 값
# 마지막부터 -1, -2, -3, -4, ... 
s[-1]

'y'

In [ ]:
# string[ starting index : ending index ] 에서 ending index는 포함안됨 
s[0:2]

'Ew'

In [ ]:
# starting index 생략하면 처음부터 
s[:2]

'Ew'

In [ ]:
# ending index 생략하면 마지막까지
s[5:]

'Womans University'

In [ ]:
# string[ starting index : ending index : offset ]
s[::2]

'Eh oasUiest'

In [ ]:
# 문자열 길이
len(s)

22

In [ ]:
dir(s)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [ ]:
# s.isalpha() : 문자열 전체가 알파벳이면 True
# 공백은 알파벳으로 취급되지 않음
s.isalpha()

False

In [ ]:
# s.isdigit() : 문자열 전체가 숫자이면 True
s.isdigit()

False

In [ ]:
# s.islower() : 문자열 전체가 소문자이면 True
s.islower()

False

In [ ]:
# s.isupper() : 문자열 전체가 대문자이면 True
s.isupper()

False

In [ ]:
# s.upper() : 소문자를 대문자로 변환
s.upper()

'EWHA WOMANS UNIVERSITY'

In [ ]:
# s.lower() : 대문자를 소문자로 변환
s.lower()

'ewha womans university'

In [ ]:
# s.capitalize() : 첫문자는 대문자로 변환하고, 나머지는 소문자로 변환
s.capitalize()

'Ewha womans university'

In [ ]:
# s.count() : 인수로 지정된 특정 문자열의 개수 
s.count('a')

2

In [ ]:
# s.lstrip() : 문자열 왼쪽의 공백 문자를 삭제
s.lstrip()

'Ewha Womans University'

In [ ]:
# s.rstrip() : 문자열 오른쪽의 공백 문자를 삭제
s.rstrip()

'Ewha Womans University'

In [ ]:
# s.strip() : 문자열 양쪽의 공백 문자를 삭제
s.strip()

'Ewha Womans University'

In [ ]:
# s.replace() : 특정 문자를 다른 문자로 변환
s.replace('Ewha', '이화')

'이화 Womans University'

In [ ]:
# s.find() : 첫번째로 검색 되는 특정 문자의 인덱스 번호를 알려줌 (못찿으면 -1) 
s.find('m')

7

In [ ]:
# s.rfind() : 오른쪽에서 왼쪽으로 ... 
s.rfind('s')

18

In [ ]:
# s.split() : 공백이나 특정 문자를 기준으로 문자열을 나누어 리스트를 생성
# 공백을 기준으로 문자열을 생성
# s.split(“,”) 콤마를 기준으로 문자열을 나눈다
s.split()

['Ewha', 'Womans', 'University']

In [38]:
# 문자열의 덧셈연산
'Ewha ' + 'Womans ' + 'University'

'Ewha Womans University'

In [39]:
# 연습문제
# 다음과 같은 문자열 a:b:c:d가 있다. 문자열의 replace 함수를 사용하여 a#b#c#d로 바꿔서 출력해 보자.
a = "a:b:c:d"
a.replace(':', '#')

'a#b#c#d'

In [41]:
# 연습문제
# 다음 문자열 a에서 세번째와 네번째 문자를 출력하시오. 
a = 'apple' 
a[2:4]

'pl'

In [42]:
# 연습문제
# 다음 문자열 license에서 마지막 4자리문자만 출력하시오. 
license = '1가 2345'
license[-4:]

'2345'

In [46]:
# 연습문제
# 다음 문자열 a에서 홀만 출력하시오.
a = '홀짝홀짝홀짝홀짝'
a[: :2]

'홀홀홀홀'

In [ ]:
# 연습문제
# 다음 문자열 phone에서 하이푼(-)을 제거하고 숫자만 출력하시오. 
# 010 1234 5678
phone = '010-1234-5678'
phone.replace('-',' ')

'010 1234 5678'

In [ ]:
# 연습문제
# 다음 문자열 phone을 하이푼(-)을 제거하고 모두 붙여 출력하시오. 
# 01012345678
phone = '010-1234-5678'
phone.replace('-','')

'01012345678'

In [47]:
# 연습문제
# 다음 URL(Uniform Resource Locator)에서 도메인을 출력하시오. 
URL = 'https://www.ewha.ac.kr'
URL[-2:]

'kr'

In [51]:
URL.split('.')[-1]

'kr'

In [ ]:
# 연습문제
# 다음 문자열 number를 콤마를 제거하고 정수로 변환하시오. 
number = '123,456,789'
int(number.replace(',', ''))

123456789

In [53]:
# 연습문제
# 다음 문자열 date를 연도,월,일로 나누어 보시오. 
date = '2021-05-04'
date.split('-')

['2021', '05', '04']

# String formatting (old style)

In [ ]:
# %s: 이 위치에 문자열(string)을 넣으라는 뜻
# %s 를 변환지시어(conversion specifier)라고 함
# %s: 문자열(string)
# %d: 정수(integer)
# %f: 부동소수(float)
print('My name is %s"' % 'sunbok')

My name is sunbok"

In [ ]:
# 대체할 값들은 튜플(tuple)로 묶어주어야 함
# 기본형식: '  %d    %s   ' % (value, value)
# 변환지시어와 값(value)은 타입이 일치해야 함
'%s은 지난 %d년동안 %f%% 성장하였다.' % ('한국',10, 20)

'한국은 지난 10년동안 20.000000% 성장하였다.'

In [56]:
# %[flag][width][.precision]f
# %10.2f: 전체 10자리, 오른쪽 정렬, 소수점 2자리
# %% escape %
'%s은 지난 %d동안 %2.2f%% 성장하였다.' % ('한국',10, 20)

'한국은 지난 10동안 20.00% 성장하였다.'

In [ ]:
# 대체할 값들로 딕셔너리(dictionary)도 가능
# 기본형식: `   %(key)d  %(key)s    ` % { key : value, key : value}
'%(국가)s은 지난 %(year)d동안 %(성장률)-10.2f%% 성장하였다.' % {'국가' : '한국', 'year' : 10, '성장률' : 20}

'한국은 지난 10동안 20.00     % 성장하였다.'

In [ ]:
# 연습문제
# '이화여자대학교 일반대학원의 현재 정원은 2832명입니다.' 을 출력할때
# '이화여자대학교'와 2832를 string formatting을 처리하여 출력하시오.

# String formatting (str.format() method, Python 3.0+)

In [ ]:
# 변환지시자(conversion specifier)를 더이상 사용하지 않음
# {0}은 format()메서드의 첫번째 전달인자(argument)로 대체됨 
# {1}은 format()메서드의 두번째 전달인자(argument)로 대체됨 
'{0}은 지난 {1}동안 {2}% 성장하였다.'.format('한국', 10, 20)

'한국은 지난 10동안 20% 성장하였다.'

In [ ]:
# format()메서드의 전달인자를 순서대로 출력하는 경우는 {}안의 숫자생략가능
'{}은 지난 {}동안 {}% 성장하였다.'.format('한국', 10, 20)

'한국은 지난 10동안 20% 성장하였다.'

In [ ]:
# format()메서드의 전달인자를 순서대로 출력하는 경우는 {}안의 숫자생략가능
'{국가}은 지난 {year}동안 {성장률}% 성장하였다.'.format(국가 = '한국', year = 10, 성장률 = 20)

'한국은 지난 10동안 20% 성장하였다.'

In [ ]:
# 왼쪽으로 정렬
'{0}은 지난 {1}동안 {2:<10.2f}% 성장하였다.'.format('한국', 10, 20)

'한국은 지난 10동안 20.00     % 성장하였다.'

In [ ]:
# 오른쪽으로 정렬
'{0}은 지난 {1}동안 {2:>10.2f}% 성장하였다.'.format('한국', 10, 20)

'한국은 지난 10동안      20.00% 성장하였다.'

In [58]:
# 연습문제
# '이화여자대학교 일반대학원의 현재 정원은 2832명입니다.' 을 출력할때
# '이화여자대학교'와 2832를 string formatting을 처리하여 출력하시오. 
'{0} 일반대학원의 현재 정원은 {1}명입니다.'.format('이화여자대학교','2832')

'이화여자대학교 일반대학원의 현재 정원은 2832명입니다.'

# String formatting (f-string, Python 3.6+)

In [59]:
name = '한국'
year = 10
growth = 20

In [ ]:
# f'   {any Python expression}   '
# 왼쪽 정렬
f'{name}은 지난 {year}동안 {growth:<10.2f}% 성장하였다.'

'한국은 지난 10동안 20.00     % 성장하였다.'

In [ ]:
# 오른쪽 정렬
f'{name}은 지난 {year}동안 {growth:>10.2f}% 성장하였다.'

'한국은 지난 10동안      20.00% 성장하였다.'

In [ ]:
# 가운데 정렬
f'{name}은 지난 {year}동안 {growth:^10.2f}% 성장하였다.'

'한국은 지난 10동안   20.00   % 성장하였다.'

In [ ]:
a = 1
b = 2

In [ ]:
# { } 안에는 어떤 파이썬 표현식도 가능함
f'a + b = {a + b}'

'a + b = 3'

In [60]:
# 연습문제
# '이화여자대학교 일반대학원의 현재 정원은 2832명입니다.' 을 출력할때
# '이화여자대학교'와 2832를 string formatting을 처리하여 출력하시오. 
school = '이화여자대학교'
num_students = 2832
f'{school} 일반대학원의 현재 정원은 {num_students}명입니다.'

'이화여자대학교 일반대학원의 현재 정원은 2832명입니다.'

# 리스트 (List)
* 리스트는 [ ]사이에 콤마로 분리된 값들
* 리스트는 다른 타입의 값들을 가질수 있으나 보통은 같은 타입의 값을 가짐
* 리스트는 가변(mutable)
* 인덱싱과 슬라이싱은 문자열과 동일

In [61]:
# 리스트는 [ ]로 생성
lst = [100, 90, 80, 70, 60]

In [62]:
# nested list
lst = [ [1,2,3], [4,5,6], [7,8,9] ]

In [63]:
# nested list
lst[0][0]

1

In [64]:
# nested list
lst[2][1]

8

In [65]:
# 곱셈 연산자로 요소 할당
[1, 2, 3] * 3

[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [66]:
# 덧셈 연산자로 리스트 결합하기 (concatanation)
[1, 2] + [3, 4]

[1, 2, 3, 4]

In [67]:
# in 연산자로 리스트 요소 확인하기
2 in [1,2,3,4,5]

True

In [68]:
# not in 연산자로 리스트 요소 확인하기
2 not in [1,2,3,4,5]

False

In [69]:
# 슬라이싱
lst = [ 0, 1, 2, [3, 4, 5] ] 
lst[3][0 : 2]

[3, 4]

In [70]:
# 리스트 수정
lst[0] = 1
lst

[1, 1, 2, [3, 4, 5]]

In [ ]:
dir([1,2,3])

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [71]:
# extend() : 리스트에 여러개의 요소를 한번에 추가
lst1 = [1, 2, 3]
lst2 = [4, 5, 6]
lst1.extend(lst2)
lst1

[1, 2, 3, 4, 5, 6]

In [73]:
# append() : 리스트에 제일 뒤에 1 개 요소를 추가
lst = ['a', 'b', 'c']
lst.append('d')
lst

['a', 'b', 'c', 'd']

In [74]:
# insert() : 리스트의 특정 위치에 요소를 삽입
lst = [1, 2, 3]
lst.insert(1, 10)  
lst

[1, 10, 2, 3]

In [75]:
# clear() : 리스트의 모든 요소를 삭제
lst = [1, 2, 3]
lst.clear()
lst

[]

In [76]:
# del : 리스트내 요소 삭제
# del lst : lst 리스트 전체 삭제
lst = [1, 2, 3]
del lst[2]
lst

[1, 2]

In [78]:
# pop() : 마지막 요소를 출력한후 삭제
lst = [1, 2, 3]
lst.pop()

3

In [79]:
lst

[1, 2]

In [80]:
# list() : 리스트로 변환
list("Ewha")

['E', 'w', 'h', 'a']

In [81]:
# sort() : 리스트 정렬
lst = [2, 3, 1]
lst.sort()
lst

[1, 2, 3]

In [85]:
# sort() : 리스트 정렬
lst = [2, 3, 1]
lst.sort(reverse = True)
lst

[3, 2, 1]

In [86]:
# reverse() : 리스트를 역순으로
lst = [2, 3, 1]
lst.reverse()
lst

[1, 3, 2]

In [87]:
# index() : 인수로 지정된 요소의 인덱스 번호
lst = [1, 2, 3, 4]
lst.index(2)

1

In [88]:
# count() : 인수로 지정된 요소의 개수
lst = [1, 2, 3, 2]
lst.count(2)

2

In [89]:
# sum() : 리스트 요소 값을 모두 더하는 함수
lst = [1, 2, 3]
sum(lst)

6

In [91]:
# max(), min() : 리스트의 최대값과 최소값
max(lst)
min(lst)

1

In [104]:
# 연습문제
# 리스트 생성
# '비와 당신의 이야기', '더 스파이', '내일의 기억' 로 리스트 lst를 생성하시오. 
lst = ['비와 당신의 이야기', '더 스파이', '내일의 기억']
lst

['비와 당신의 이야기', '더 스파이', '내일의 기억']

In [105]:
# 연습문제
# 요소 추가
# 위 lst에 '미나리'를 추가하시오
lst.append('미나리')
lst

['비와 당신의 이야기', '더 스파이', '내일의 기억', '미나리']

In [106]:
# 연습문제
# 요소 추가
# 위 lst에 '내일의 기억'과 '미나리'사이에 '자산어보'를 추가하시오.
lst.insert(3,'자산어보')
lst

['비와 당신의 이야기', '더 스파이', '내일의 기억', '자산어보', '미나리']

In [107]:
# 연습문제
# 요소 삭제
# 위 lst에서 '내일의 기억'을 삭제하시오.
lst.index('내일의 기억')
del lst[2]
lst

['비와 당신의 이야기', '더 스파이', '자산어보', '미나리']

In [109]:
# 연습문제
# 다음 리스트의 평균을 구하시오. 
a = [1, 2, 3, 4]
sum(a)/len(a)

2.5

# 튜플 (Tuple)
* 튜플은 ()사이에 콤마로 분리된 값들
* 리스트 = mutable
* 튜플 = immutable
* 수정되어서는 안되는 값을 보관할때 튜플을 사용
* 튜플은 리스트에 비해 처리 속도가 빠르다는 장점
* 변하지 않는 여러개의 값을 자주 사용할때는 튜플에 저장

In [110]:
dir((1, 2, 3))

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'count',
 'index']

In [142]:
# 튜플 생성시 () 생략가능
tp = 1, 2, 3, 2

In [143]:
# count() : 인수로 지정된 요소의 개수
tp.count(2)

2

In [144]:
# index() : 인수로 지정된 요소의 인덱스 번호
tp.index(2)

1

In [132]:
# unpacking : 튜플로 묶여 있는 값들을 풀어내는것 
x1, x2, x3, x4 = tp

In [133]:
x1

1

In [134]:
x2

2

In [135]:
x3

3

In [136]:
x4

2

In [145]:
# * : 언패킹 과정에서 둘 이상의 값을 리스트로 묶어서 하나의 변수에 저장
x1, x2, *others = tp

In [146]:
x1

1

In [147]:
x2

2

In [148]:
others

[3, 2]

In [149]:
# 리스트도 언패킹 가능
x1, x2, *others = [1, 2, 3, 2]

In [150]:
x1

1

In [151]:
x2

2

In [152]:
others

[3, 2]

In [153]:
# tuple() : 문자열, 리스트, 딕셔너리, 세트등을 튜플로 변환
tuple([1, 2, 3])

(1, 2, 3)

In [155]:
# 연습문제
# '비와 당신의 이야기', '더 스파이', '내일의 기억'로 튜플 tp를 생성하시오. 
tp = '비와 당신의 이야기', '더 스파이', '내일의 기억'

In [157]:
# 연습문제
# 위 튜플을 리스트 lst로 변환하시오. 
list(tp)

['비와 당신의 이야기', '더 스파이', '내일의 기억']

In [172]:
# 연습문제
# 1부터 99까지의 정수중 짝수로만 이루어진 튜플을 (2, 4, 6, ..., 98) 생성하시오. 
# range(start, stop[, step]) : produces a sequence of integers from start(inclusive) to stop(exclusive) by step
print(tuple(range(2,100,2)))

(2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98)

# 딕셔너리 (Dictionary)
* { key : value, key : value, ... }
* 사전에서 “단어를 기준으로 해설” 을 찿듯이 “키를 기준으로 값” 을 찿는 기능
* 값은 중복될수 있으나, 키는 중복되지 않아야 한다
* 키는 숫자, 문자열, 튜플과 같이 수정이 불가능한 (immutable) 데이터 형이어야 한다.
* 인덱스가 아닌 키로 값을 찿는다
* 리스트 = 인덱스로 값을 찿는다
* 딕셔너리 = 키로 값을 찿는다
* 찿는 속도가 빠르다
* 리스트 : 값으로만 사용가능
* 튜플 : 키와 값으로 모두 사용 가능

In [173]:
# 딕셔너리 생성
# { } 내에 키:값 기술
dic = { 'john' : 20, 'mike' : 10}
dic

{'john': 20, 'mike': 10}

In [174]:
# 딕셔너리 생성
# dict() 함수내에 {키:값} 기술
dic = dict({ 'john' : 20, 'mike' : 10}) 
dic

{'john': 20, 'mike': 10}

In [175]:
# 딕셔너리 생성
# 튜플로 구성된 리스트 사용
dic = dict([('john',10), ('mike',20)]) 
dic

{'john': 10, 'mike': 20}

In [176]:
# 딕셔너리 생성
# = 기호 사용
dic = dict(john = 10, mike = 20) 
dic

{'john': 10, 'mike': 20}

In [177]:
# 딕셔너리 추가
dic2 = {'peter' : 15, 'tom' : 45}
dic.update(dic2)
dic

{'john': 10, 'mike': 20, 'peter': 15, 'tom': 45}

In [178]:
# zip()을 이용하여 두개의 튜플을 하나의 딕셔너리로 변환
keys = ('john', 'mike', 'peter', 'tom')
values = (10, 20, 15, 45)
dict(zip(keys, values))

{'john': 10, 'mike': 20, 'peter': 15, 'tom': 45}

In [179]:
# 값추출
# 딕셔너리[키]
dic['mike']

20

In [180]:
# 값추출
# 해당키가 없으면 에러
# dic['steve']

In [181]:
dir(dic)

['__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

In [182]:
# 값추출
dic.get('mike')

20

In [183]:
# 값추출
# 해당키가 없어도 에러 표시 안함
dic.get('steve')

In [ ]:
# 값추출
# 해당키가 없어도 에러 표시 안함
# 두번째 인수로 키가 없을때으 메세지를 지정
dic.get('steve', 'no')

'no'

In [ ]:
# 값 수정가능
dic['mike'] = 200

In [ ]:
dic

{'john': 10, 'mike': 200}

In [ ]:
# {} 로 삭제 : 키는 남고, 값만 삭제
dic['mike'] = {}
dic

{'john': 10, 'mike': {}}

In [ ]:
# del 로 삭제 : 키와 값이 모두 삭제
del dic['mike']
dic

{'john': 10}

In [ ]:
# 딕셔너리 생성
# { } 내에 키:값 기술
dic = { 'john' : 20, 'mike' : 10}
dic

{'john': 20, 'mike': 10}

In [ ]:
# keys() : 딕셔너리에서 키들만 모아서 목록을 만듬
dic.keys()

dict_keys(['john', 'mike'])

In [ ]:
# 리스트로 변환
list(dic.keys())

['john', 'mike']

In [ ]:
# values() : 딕셔너리에서 값들만 모아 목록을 만든다
dic.values()

dict_values([20, 10])

In [ ]:
# 튜플로 변환
tuple(dic.values())

(20, 10)

In [ ]:
# clear() : 데이터는 모두 삭제되나 빈 딕셔너리는 남음
dic.clear()
dic

{}

In [ ]:
# 딕셔너리 생성
# { } 내에 키:값 기술
dic = { 'john' : 20, 'mike' : 10}
dic

{'john': 20, 'mike': 10}

In [ ]:
# del dic : 딕셔너리 자체가 삭제
del dic
# dic

In [ ]:
# 연습문제
# 사과 : 2000, 배 : 3000, 귤 : 4000 의 정보를 포함하는 딕셔너리 dic를 생성하시오.

In [ ]:
# 연습문제
# 포도 : 5000, 바나나 : 6000 의 정보를 포함하는 딕셔너리 dic2를 생성해서 dic에 dic2를 추가하시오.

In [ ]:
# 연습문제
# dic에서 사과의 가격을 출력하시오.

In [ ]:
# 연습문제
# dic에서 포도를 삭제하시오.

In [ ]:
# 연습문제
# 사과, 배, 귤 로 key의 튜플을, 2000, 3000, 4000으로 value의 튜플을 생성하고 zip을 통해 딕셔너리를 생성하시오.

# 조건문 (conditional statement)

In [ ]:
# 조건문(conditional statement)은 조건(condition)을 검사하고 조건에 따라 프로그램의 동작을 바꿀 수 있다. 
# if 다음에 오는 불 표현식(boolean expression)을 조건(condition)이라고 한다. 조건이 참이면 들여쓰기한 문장이 실행되고 그렇지 않으면 실행되지 않는다.
# if <조건>:
#     <조건>이 True일때 실행할 문장들
# else:
#     <조건>이 False일때 실행할 문장들
x = -1
if x > 0:       
  print("x is positive")
else: 
  print("x is zero or negative")

x is zero or negative

In [ ]:
# if <조건1>:
#     <조건1>이 True일때 실행할 문장들
# elif <조건2>:
#     <조건2>가 True일때 실행할 문장들
# else:
#     <조건1>과 <조건2>가 모두 False일때 실행할 문장들
x = 10
if x > 0:       
  print("x is positive")
elif x == 0: 
  print("x is zero")
else:
  print("x is negative")

x is positive

In [ ]:
# 연습문제
# input("입력값: ")은 "입력값: "을 프린트하고 사용자로부터 값을 입력받아 문자열을 반환한다. 
# 사용자로부터 입력받은 값에 20을 더한후 출력하라. 단 더한 결과값이 255을 초과하는 경우 255을 출력해야 한다. 
user = input('입력값: ')
num = int(user) + 20
if num > 255:
  print(255)
else:
  print(num)

입력값: 300
255

In [ ]:
# 연습문제
# 사용자로부터 문자 한개를 입력받고, 소문자일 경우는 대문자로 대문자일 경우는 소문자로 변경하여 출력하라. 
user = input('영문문자 한개를 입력하시오: ')
if user.islower():
  print(user.upper())
else:
  print(user.lower())

영문문자 한개를 입력하시오: w
W

In [ ]:
# 연습문제
# 전화번호 지역번호가 서울(02), 경기도(031), 인천(032)만 있다고 할때, 사용자로부터 다음과 같이 전화번호를 입력받고 지역을 출력하라. 
# input('전화번호를 000-0000-0000 형식으로 입력하시오: ')

# 반복 (iteration)

In [ ]:
# for 변수 in iterable: 
#   반복되는 문장
# 리스트, 튜플, 문자열과 같은 시퀀스 타입 자료형은 iterable이다. 
for i in [1,2,3]:
  print(i)

1
2
3

In [ ]:
# 튜플
for i in (1,2,3):
  print(i)

1
2
3

In [ ]:
# 문자열
for i in 'apple':
  print(i)

a
p
p
l
e

In [ ]:
# 리스트
for i in ['사과', '배', '귤']:
  print(i)

사과
배
귤

In [ ]:
# 반복되는 문장
print(10); print(20); print(30)

10
20
30

In [ ]:
# for loop는 반복되는 문장을 대체한다.
for i in [10, 20, 30]:
  print(i)

10
20
30

In [ ]:
# 리스트
sum = 0 
for i in [1,2,3,4,5,6,7,8,9,10]: 
  sum = sum + i 
print(sum)

55

In [ ]:
# range(start, stop) generates the sequence of integer from start(inclusive) to stop(exclusive)
# an index in python starts from 0 not 1
sum = 0 
for i in range(1, 11): 
  sum = sum + i 
print(sum)

55

In [ ]:
# '이화여대'를 10번 반복해서 출력하라
# range(start:stop)의 stop이 포함 안되는 이유
for i in range(10):
  print('이화여대')

이화여대
이화여대
이화여대
이화여대
이화여대
이화여대
이화여대
이화여대
이화여대
이화여대

In [ ]:
# 리스트의 값을 두배를 해서 새로운 리스트에 저장
r1 = [1, 2, 3, 4, 5]
r2 = []  # 빈 리스트 생성
for i in r1:
  r2.append(i*2)
r2

[2, 4, 6, 8, 10]

In [ ]:
# 리스트 컴프리핸션 (list comprehension): 규칙과 조건으로 리스트 생성
r1 = [1, 2, 3, 4, 5]
r2 = [x*2 for x in r1]   # r1에 값들을 하나씩 x에 넣어서, x*2의 결과를 만들어 리스트에 저장
r2

[2, 4, 6, 8, 10]

In [ ]:
# 홀수인 경우에만 리스트의 값을 두배를 해서 새로운 리스트에 저장
r1 = [1, 2, 3, 4, 5]
r2 = []  # 빈 리스트 생성
for i in r1:
  if i % 2 == 1:
    r2.append(i*2)
r2

[2, 6, 10]

In [ ]:
# 리스트 컴프리핸션 (list comprehension): 규칙과 조건으로 리스트 생성
r1 = [1, 2, 3, 4, 5]
r2 = [x*2 for x in r1 if x % 2 == 1]   # r1에 값들을 하나씩 x에 넣어서, x % 2 == 1인지 확인하고, True이면 x*2의 결과를 만들어 리스트에 저장
r2

[2, 6, 10]

In [ ]:
# 연습문제
# 주어진 리스트 lst = [-10, 10, -30, 20, 30] 에서 음수를 출력하시오.

In [ ]:
# 연습문제
# 주어진 리스트 lst = [3, 100, 23, 45]에서 3의 배수만을 출력하시오.

In [ ]:
# 연습문제
# 주어진 리스트 lst = [3, 100, 23, 45]에서 20보다 작은 3의 배수만을 출력하시오.

In [ ]:
# 연습문제
# 주어진 리스트 lst = ['I', 'am', 'study', 'Python']에서 세글자 이상의 단어만 출력하시오.

In [ ]:
# 연습문제
# 리스트 lst에는 6일 간의 종가 데이터가 저장되어 있다. 종가 데이터의 3일 이동 평균을 계산하고 이를 화면에 출력하라.

In [ ]:
# 연습문제
# 리스트에 5일간의 저가, 고가 정보가 저장돼 있다. 고가와 저가의 차를 변동폭이라고 정의할 때, low, high 두 개의 리스트를 사용해서 5일간의 변동폭을 volatility 리스트에 저장한다고 할때 _______ 에 필요한 함수는?

# 함수 (function)
"왜 함수인가? 프로그램을 함수로 분할하는 번거로움을 감수할 가치가 있는지는 명확하지 않을 수 있다. 여기에는 몇가지 이유가 있다.

* 새 함수를 만들면 여러 문장을 묶어서 이름을 붙일 수 있고, 이렇게 하면 프로그램을 읽거나 디버그 하는게 쉬워진다.

* 함수를 사용하면 반복되는 코드를 제거해서 프로그램을 더 작게 만들 수 있다. 나중에 프로그램을 변경할 때도 한 부분에서만 수정할 수 있다.

* 긴 프로그램을 함수로 나누면 한번에 한 부분씩 디버그 할 수 있고, 부분을 결합해서 동작하는 전체를 만들 수 있다.

* 잘 설계된 함수는 프로그램에서도 유용하게 쓰일 수 있다. 함수를 작성하고 디버그 했다면 이를 재사용 할 수 있다." 

(싱크 파이썬, p63)

In [ ]:
# 함수(function)은 어떤 계산을 수행하는 문장들에 이름을 붙인것이다. 
# 함수는 여러문장을 담아놓은 상자와도 같다. 
# 우리는 함수를 호출(call)한다. 
# 예를들어 type()에서 type은 함수의 이름이고, 괄호안에 들어간 표현식을 함수의 인수(argument)라고 한다. 
# 함수는 인수(argument)을 받고 결과값을 반환(return)한다. 
type(42.0)

float

In [ ]:
# 우리는 함수를 정의(define)할 수 있다. 
# 함수의 정의는 함수의 이름과 함수가 호출될 때 실행할 문장들을 지정한다. 
# 함수정의의 첫번째 줄을 헤더(header)하고 하고 나머지를 바디(body)라고 한다. 
# 함수의 이름은 소문자로만 만드는것이 관행
def my_sum(a, b): 
  c = a + b + 1 
  return c

In [ ]:
# 우리가 정의한 함수를 호출(call)할 수 있다. 
# 함수를 정의할 때의 변수를 인자(parameter), 호출할 때 전달하는 값을 인수(argument)라고 한다. 
my_sum(1, 2)

4

In [ ]:
# 함수 정의시 매개변수 앞에 *는 이후의 값들을 튜플로 묶어 전달
def print_nums(x1, x2, *others):
  print(x1, x2, others)
print_nums(1, 2, 3, 4, 5)

1 2 (3, 4, 5)

In [ ]:
# 연습문제
# 인자로 제공받은 리스트에 저장되어 있는 모든 값의 합을 반환하는 함수를 만드시오. 
# 예를 들어 이 함수는 다음과 같이 작동해야 합니다. 
# sum_list([1,2,3])   # 6 출력

In [ ]:
# 연습문제
# 콤마가 포함된 문자열 숫자를 입력받아 정수로 변환하는 convert_int 함수를 정의하라.

In [ ]:
# 연습문제
# 아래 코드의 실행 결과를 예측하시오. 
def 함수1(num) :
    return num + 4

def 함수2(num) :
    return num * 10

a = 함수1(10)
c = 함수2(a)
print(c)

In [ ]:
# 연습문제
# 아래 코드의 실행 결과를 예측하라.
def 함수0(num) :
    return num * 2

def 함수1(num) :
    return 함수0(num + 2)

def 함수2(num) :
    num = num + 10
    return 함수1(num)

c = 함수2(2)
print(c)

# 모듈 (module), 패키지 (package), import
* 모듈은 변수, 함수, 클래스 등이 정의되어 있는 파일(.py)
* 패키지는 모듈을 디렉토리형식으로 구조화한 것
* 패키지 내부의 모듈은 점표기법(dot notation)으로 접근(access)
* 한 모듈에 있는 파이썬 코드는 import 문을 통해서 다른 모듈에 있는 코드들에 대한 접근권을 얻음

In [ ]:
# import 모듈
# import 모듈1, 모듈2
# 모듈.변수
# 모듈.함수()
# 모듈.클래스()
import math

In [ ]:
# math 모듈의 pi라는 속성에 접근
math.pi

3.141592653589793

In [ ]:
# math 모듈의 변수와 함수반환
dir(math)

['__doc__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 'acos',
 'acosh',
 'asin',
 'asinh',
 'atan',
 'atan2',
 'atanh',
 'ceil',
 'copysign',
 'cos',
 'cosh',
 'degrees',
 'e',
 'erf',
 'erfc',
 'exp',
 'expm1',
 'fabs',
 'factorial',
 'floor',
 'fmod',
 'frexp',
 'fsum',
 'gamma',
 'gcd',
 'hypot',
 'inf',
 'isclose',
 'isfinite',
 'isinf',
 'isnan',
 'ldexp',
 'lgamma',
 'log',
 'log10',
 'log1p',
 'log2',
 'modf',
 'nan',
 'pi',
 'pow',
 'radians',
 'remainder',
 'sin',
 'sinh',
 'sqrt',
 'tan',
 'tanh',
 'tau',
 'trunc']

In [ ]:
# math 모듈의 sqrt() 메서드 호출
math.sqrt(2)

1.4142135623730951

In [ ]:
# import 모듈 as 이름
# math 모듈을 가져오면서 이름을 m으로 지정
import math as m    
m.sqrt(2)

1.4142135623730951

In [ ]:
# from 모듈 import 변수
from math import pi  
pi

3.141592653589793

In [ ]:
# from 모듈 import 함수
# math 모듈에서 sqrt 함수만 가져옴
from math import sqrt    
sqrt(2)

1.4142135623730951

In [ ]:
# from 모듈 import *
# math 모듈의 모든 변수, 함수, 클래스를 가져옴
# Don't do this
from math import *

In [ ]:
# from 모듈 import 변수 as 이름
# from 모듈 import 함수 as 이름
# from 모듈 import 클래스 as 이름
# math 모듈에서 sqrt 함수를 가져오면서 이름을 s로 지정
from math import sqrt as s    
s(2)

1.4142135623730951

In [ ]:
import numpy as np

In [ ]:
dir(np)

In [ ]:
import pandas as pd

In [ ]:
dir(pd)

In [ ]:
# Author: Gael Varoquaux <gael dot varoquaux at normalesup dot org>
# License: BSD 3 clause

# Standard scientific Python imports
import matplotlib.pyplot as plt

# Import datasets, classifiers and performance metrics
from sklearn import datasets, svm, metrics
from sklearn.model_selection import train_test_split